/* Variable de SASS */
body
{
  background-color: #D15B6B;
}


@media only screen and (max-width: 600px)
{
  body {background-color: #C8BFE7;}
}

@media only screen and (max-width: 800px) and (min-width: 601px)
{
  body {background-color: #A4B6CF;}
}

@media only screen and (max-width: 1000px) and (min-width: 801px)
{
  body {background-color: #F4E3A7;}
}

.carousel-inner
{
	height: 400px;
}

#indexid
{
	margin-top: 10%;
	color: white;
}

.img-fluid
{
	height: 300px;
	width: 100%;
	opacity: 0.4;
	z-index:0;
}

#icon
{
	height: 30%;
	background-color: white;
	position: absolute;
	z-index:1;
	text-align: center;
	background-color: transparent;
}
#me
{
	margin-top: 10%;
}

.ajuste
{
	height: 75%;
	object-fit: fill;
}

/* Nesting de SASS */
div #ing {
  margin-top: 5%;
  color: white;
}
div p {
  text-align: center;
}
/* ---------------- */

table
{
	border : 2px solid white;
	margin: auto;
}
/* Inheritance de SASS */
th,td
    {
      border : 1px solid white;
      padding : 5px;
      text-align : center;
    }

.prox
{
  opacity: 0.5;
}
